@media screen and (max-width:600px) {
    /* color, font variable section  */
    :root{
        --font:'Mulish', sans-serif;
        --color-heading-text:#131318;
        --color-description-text:rgba(19, 19, 24, 0.70);
        --color-theme:#FF5400;
        --white:#fff;
        --menu-bgc:#ddd;
    }


    /* Header section */
    .nav-section{
        width:100%;
    }
    .check-btn{
        display: block;
    }
    .nav-section .logo > span{
        font-size: 24px;
    }
    .nav-section .logo > img{
        top: 10%;
        width: 10%;
    }
    .nav-section > ul{
        position: fixed;
        width: 100%;
        height: 65vh;
        background: var(--menu-bgc);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .nav-section > ul > li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .nav-section > ul > li > a{
        font-size: 21.543px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    
    /* Banner section */
    .banner-section-1{
        padding: 32px 15px;
    }
    .banner-heading{
        font-size: 22px;
    }
    .banner-description{
        font-size: 14px;
        padding: 0px 15px;
    }
    .banner-input{
        grid-template-columns: auto;
        row-gap: 16px;
    }

    /* popular section */
    .popular-1{
        flex-direction: column;
    }
    .popular-text > button{
        margin-bottom: 32px;
    }
    .popular-text{
        padding: 0px 10px 0px 20px;
    }
    .primary-heading-text{
        margin-bottom: 24px;
    }
    .popular-text > ul {
        padding-left: 20px;
        margin: 24px 0px;
    }
    .popular-text > ul > li{
        color: var(--color-description-text);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        padding: 15px;
    }
    .popular-img{
        text-align: center;
        padding: 10px;
    }
    .popular-text > button{
        margin-top: 32px;
    }
    .popular-img img{
        width: 100%;
    }

    /* Choose your destination */
    .destination-text > p{
        margin-bottom: 48px;
        padding: 0px 10px;
    }
    .destination-images{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 14px;
        width: 100%;
    }
    .destination-img-text img{
        width: 100%;
        height: 176px;
    }

    /* Why choose us */
    .choose-text > p{
        padding: 0px 10px;
        margin-bottom: 48px;
    }

    .choose-service{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .choose-servi{
        padding: 20px;
    }
    .choose-service .choose-servi:nth-child(3) {
        position: relative;
        left: 0%;
    }

    /* News Letter section */
    .newsletter-1{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-content: center;
        row-gap: 35px;
        padding: 30px;
    }
}