@media screen and (max-width:992px) {
    .nav-section li{
        margin-left: 10px;
    }
    .nav-section li > a{
        font-size: 16px;
    }
    .nav-section .logo > span{
        font-size: 16px;
    }
    .nav-section .logo > img{
        width: 6%;
        top:10%;
    }

    /* Banner section */
    .banner-section-1{
        padding: 32px 15px;
    }
    .banner-heading{
        font-size: 22px;
    }
    .banner-description{
        font-size: 14px;
        padding: 0px 15px;
    }
    .banner-input{
        grid-template-columns: auto;
        row-gap: 16px;
    }

    /* popular section */
    .popular-1{
        flex-direction: column;
    }
    .popular-text > button{
        margin-bottom: 32px;
    }
    /* Choose your destination */
    .destination-text > p{
        margin-bottom: 48px;
        padding: 0px 10px;
    }
    .destination-images{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 14px;
        width: 100%;
    }
    .destination-img-text img{
        width: 100%;
        height: 176px;
    }

    /* Why choose us */
    .choose-text > p{
        padding: 0px 10px;
        margin-bottom: 48px;
    }

    .choose-service{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .choose-servi{
        padding: 20px;
    }
}