@media screen and (max-width:992px) {
    .nav-section li{
        margin-left: 10px;
    }
    .nav-section li > a{
        font-size: 16px;
    }
    .nav-section .logo > span{
        font-size: 16px;
    }
    .nav-section .logo > img{
        width: 6%;
        top:10%;
    }

    /* Banner section */
    .banner-section-1{
        padding: 32px 15px;
    }
    .banner-heading{
        font-size: 22px;
    }
    .banner-description{
        font-size: 14px;
        padding: 0px 15px;
    }
    .banner-input{
        grid-template-columns: auto;
        row-gap: 16px;
    }
}