/* font link */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

*{
    padding: 0px; margin: 0px; box-sizing: border-box; text-decoration: none; font-family: Mulish;

}

/* color, font variable section  */
:root{
    --font:'Mulish', sans-serif;
    --color-heading-text:#131318;
    --color-description-text:rgba(19, 19, 24, 0.70);
    --color-theme:#FF5400;
    --white:#fff;
}

/* Most Uses */
.center{
    text-align: center;
}
#primary-btn{
    background: var(--color-theme);
    color: var(--white);
}
#primary-btn-2{
    color: var(--white);
    font-size: 20px;
    font-weight: 800;
    padding: 10px 35px;
    background: var(--color-theme);
    border: 2px solid #dddddd00;
    border-radius: 8px;
    transition: .3s;
    cursor: pointer;
}
#primary-btn-2:hover{
    background-color: var(--white);
    color: var(--color-theme);
    border: 1px solid var(--color-theme);
}
.primary-heading-text{
    color: var(--color-heading-text);
    font-size: 40px;
    font-weight: 800;
}
.primary-description-text{
    color: var(--color-description-text);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.width{
    width: calc( 100% - 20px );
    height: 80px;
    margin: 0px auto;
}

/* Header section  */

.nav-section{
    width: calc( 100% - 20px );
    height: 80px;
    margin: 0px auto;
}
.nav-section .logo{
    line-height: 80px;
    padding-left: 10px;
}
.nav-section .logo > img{
    position: relative;
    top: 12%;
}
.nav-section .logo > span{
    color: var(--color-heading-text);
    font-family: var(--font);
    font-size: 36px;
    font-weight: 800;
}
.logo-text-2{
    color: var(--color-theme);
}

.nav-section ul{
    float: right;
    padding-right: 10px;
}
.nav-section li{
    display: inline-block;
    line-height: 80px;
    margin-left: 44px;
}
.nav-section li > a{
    color: var(--color-heading-text);
    text-align: center;
    font-family: var(--font);
    font-size: 18px;
    font-weight: 400;
    transition: .3s;
}
.nav-section li > a:hover{
    color: var(--color-theme);
}

/* Checkbox */
.check-btn{
    font-size: 30px;
    color: var(--white);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.check-btn > i{
    color: #131318;
}


/* Banner Section  */
.banner-section{
    width: calc( 100% - 20px );
    margin: 0 auto;
}
.banner-section-1{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)), url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 106px 185px;
    border-radius: 8px;
}
.banner-heading{
    color: var(--white);
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 0px;
}
.banner-description{
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 0px 247px;
    margin-top: 24px;
}
.banner-form{
    background: rgba(240, 170, 170, 0.3);
    display: inline-block;
    border-radius: 8px;
    margin-top: 48px;
}
.banner-input{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    justify-content: center;
    padding: 16px;
}
.banner-form .banner-input > input, .banner-form .banner-input > select{
    padding: 16px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    background-color: var(--white);
    margin: 0px 8px;
    outline: none;
    border: none;
}

/*=================== main section =================== */

/*---------- popular section----------- */
.popular{
    width: calc( 100% - 20px );
    margin: 100px auto;
}
.popular-1{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.popular-text{
    padding: 0px 100px 0px 20px;
}
.primary-heading-text{
    margin-bottom: 24px;
}
.popular-text > ul {
    padding-left: 20px;
    margin: 24px 0px;
}
.popular-text > ul > li{
    color: var(--color-description-text);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 15px;
}
.popular-img{
    text-align: right;
    padding: 10px;
}
.popular-text > button{
    margin-top: 32px;
}


/* Choose your destination */
.destination{
    width: calc( 100% - 20px );
    margin: 100px auto;
}
.destination-text > h1{
    margin-bottom: 24px;
}
.destination-text > p{
    margin-bottom: 48px;
    padding: 0px 263px;
}
.destination-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    width: 100%;
}
.destination-img-text{
    position: relative;
}
.destination-img-text span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    font-size: 28px;
    font-weight: 800;
}

/* Why choose us  */
.choose{
    width: calc( 100% - 20px );
    margin: 0px auto;
}
.choose-text{
    text-align: center;
}
.choose-service{
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    padding: 0px 20px;
}
.choose-servi > h3{
    font-size: 24px;
}
.choose-text > p{
    padding: 0px 263px;
    margin-bottom: 48px;
}
.choose-servi{
    background-color: rgba(251, 181, 99, 0.05);
    padding: 32px 55px 32px 32px;
    box-shadow: 1px 1px 10px #ddd;
    transition: .3s;
}
.choose-servi:hover{
    background-color: rgba(41, 206, 246, 0.05);
}
.choose-service .choose-servi:nth-child(3) {
    position: relative;
    left: 50%;
}


/* News Letter section */
.newsletter{
    width: calc( 100% - 20px );
    margin: 100px auto;
}
.newsletter-1{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    column-gap: 35px;
}


.newsletter-input{
    background: var(--white);
    border: 2px solid var(--color-theme);
    border-radius: 8px;
    margin-top: 48px;
    padding: 40px;
}
.news-input{
    display: flex;
    flex-direction: column;
}
.news-input input{
    padding: 20px 16px;
    color: var(--color-heading-text);
    font-size: 16px;
    font-weight: 400;
    outline: none;
    border-radius: 8px;
    border: none;
    margin: 16px 0px;
    background-color: rgba(19, 19, 24, 0.05);
}
.news-input input:focus{
    box-shadow: 1px 1px 10px #797979dd;
}

.newsletter-input > h1{
    color: var(--color-heading-text);
    font-size: 24px;
}
.newsletter-input > p{
    padding-right: 85px;
}
input.subscribe[type=submit] {
    background-color: var(--color-theme);
    color: var(--white);
    font-size: 20px;
    font-weight: 800;
}

.newsletter-image{
    position: relative;
}
.newsletter-image img{
    width: 100%;
    height: 100%;
}
.news-text{
    position: absolute;
    background-color: var(--color-theme);
    border-radius: 15px;
    border: 2px dotted var(--white);
    bottom: 22%;
    right: 2%;
    transform: rotate(-45deg);
    padding: 32px;
}
.news-text > p{
    color: var(--white);
    text-align: center;
    font-size: 1em;
    font-weight: 400;
}
.news-text > h3{
    color: var(--white);
    font-size: 1em;
    font-weight: 800;
}

/* Footer section */
footer{
    background-color: rgba(19, 19, 24, 0.05);
    text-align: center;
    margin-top: 100px;
}
.footer-1{
    width: calc( 100% - 20px );
    margin: 0px auto;
    padding:110px 335px;
}
.logo-footer > span{
    color: var(--color-heading-text);
    font-size: 32px;
    font-weight: 800;
}

.footer-social a{
    display: inline-block;
    margin: 50px 20px;
}
.footer-social{
    border-bottom: 1px solid #dddd;
    margin-bottom: 50px;
}
.footer-1 p{
    margin-top: 15px;
}

/* Video Section */
.video-section{
    width: calc( 100% - 20px );
    margin: 100px auto;
}
.video{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}
.main-video > iframe{
    width: 100%;
    height: 100%;
}
.video-text{
    padding: 35px;
}
.video-text > button{
    margin-top: 34px;
}